<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/default_head}">

<body>
<div layout:fragment="content">
    <div id="chartdiv">
        <div class="profile-card-container">
            <div class="boarding-pass ">
                <div class="top-stripe">
                    <img src="/img/top-stripe.png" alt="프로필 머리">
                </div>

                <div class="pass-content">
                    <div class="top-section">
                        <div class="profile-pic-wrapper">
                            <img id="navProfileImg"
                                 src="/img/profile.png"
                                 class="profile-pic profile-sty">
                        </div>

                        <div>
                            <button class="edit-btn">프로필 편집</button>
                            <div class="plane-icon">
                                <svg viewBox="0 0 24 24">
                                    <path d="M21 16v-2l-8-5V3.5c0-.83-.67-1.5-1.5-1.5S10 2.67 10 3.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5z"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="flight-info-row">
                        <div class="airport-code">
                            <span th:text="${session != null and session.userCountry != null ? session.userCountry : ''}"
                                  class="font-weight-bold"></span>
                        </div>
                        <div class="flight-details">
                            <div class="detail-item">
                                <div class="label">FLIGHT</div>
                                <div class="value">0</div>
                            </div>
                            <div class="detail-item">
                                <div class="label">GATE</div>
                                <div class="value">0</div>
                            </div>
                        </div>
                    </div>

                    <h1 class="departure">WHERE TO NEXT?</h1>

                    <p class="airline-name">항공사 이름 :
                        <span th:text="${session != null and session.userNickName != null ? session.userNickName : 'User'}"
                              class="font-weight-bold"></span>
                    </p>

                    <div class="divider"></div>

                    <div class="bottom-section">
                        <div class="user-stats">
                            <div class="mt-1 flex">
                                <h3 class="profileWordText profileMessege mb-2">-</h3>
                            </div>
                            <div class="stat-row">
                                <span class="stat-label">Following</span>
                                <span class="stat-count">123</span>
                            </div>
                            <div class="stat-row">
                                <span class="stat-label">Follower</span>
                                <span class="stat-count">456</span>
                            </div>
                        </div>
                        <div class="qr-code-wrapper">
                            <div class="qr-mock">
                                <div class="qr-eyes">👀</div>
                                <div class="qr-num">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script>
        let countryNameMap = {};

        $.ajax({
            url: "/country/list",
            type: "GET",
            dataType: "json",
            success: function (response) {
                $.each(response, function (index,country) {
                    countryNameMap[country.countryCode] = country.countryNameKo;
                });
                initMap();
            },
            error: function () {
                console.error("나라 목록 로딩 실패");
            }
        });

        function initMap() {
            am5.ready(function () {
                var root = am5.Root.new("chartdiv");

                root.setThemes([am5themes_Animated.new(root)]);

                const chart = root.container.children.push(
                    am5map.MapChart.new(root, {
                        panX: "rotateX",
                        panY: "rotateY",
                        boxZoom: "shift",
                        projection: am5map.geoOrthographic(),
                        paddingBottom: 20,
                        paddingTop: 20,
                        paddingLeft: 20,
                        paddingRight: 20

                    })
                )

                const backgroundSeries = chart.series.push(
                    am5map.MapPolygonSeries.new(root, {})
                );

                backgroundSeries.mapPolygons.template.setAll({
                    fill: am5.color(0xE5E5E5),
                    fillOpacity: 0.5,
                    strokeOpacity: 0
                });

                const graticuleSeries = chart.series.push(
                    am5map.GraticuleSeries.new(root, {})
                );

                graticuleSeries.mapLines.template.setAll({
                    stroke: am5.color(0x000000),
                    strokeOpacity: 0.08,
                    strokeWidth: 0.5
                });

                var cont = chart.children.push(
                    am5.Container.new(root, {
                        layout: root.horizontalLayout,
                        x: 20,
                        y: 40
                    })
                );

                cont.children.push(
                    am5.Label.new(root, {
                        centerY: am5.p50,
                        text: "Globe"
                    })
                );
                var switchButton = cont.children.push(
                    am5.Button.new(root, {
                        themeTags: ["switch"],
                        centerY: am5.p50,
                        icon: am5.Circle.new(root, {
                            themeTags: ["icon"]
                        })
                    })
                );
                cont.children.push(
                    am5.Label.new(root, {
                        centerY: am5.p50,
                        text: "Map"
                    })
                );
                switchButton.on("active", function () {
                    if (!switchButton.get("active")) {
                        chart.set(
                            "projection",
                            am5map.geoOrthographic()
                        );
                        chart.set(
                            "panY",
                            "rotateY",
                        );
                        backgroundSeries.mapPolygons.template.set(
                            "fillOpacity",
                            0.1
                        );

                    } else {

                        chart.set(
                            "projection",
                            am5map.geoMercator()
                        );
                        chart.set(
                            "panY",
                            "translateY"
                        );
                        chart.set(
                            "rotationY",
                            0);
                    }
                });

                var polygonSeries = chart.series.push(
                    am5map.MapPolygonSeries.new(root, {
                        geoJSON: am5geodata_worldLow
                    })
                );

                polygonSeries.mapPolygons.template.setAll({
                    fill: am5.color(0x5C85C6),
                    stroke: am5.color(0xffffff),
                    interactive: true,
                });

                polygonSeries.mapPolygons.template.states.create(
                    "hover",
                    {
                        fill: root.interfaceColors.get(
                            "primaryButtonHover"
                        )
                    }
                );
                polygonSeries.mapPolygons.template.events.on(
                  "pointerover",
                  function (event){
                      var dataItem = event.target.dataItem;

                      if(!dataItem){
                          return;
                      }

                      var dataContext = dataItem.dataContext;
                      var countryCode = dataContext.id;
                      var koreaName = countryNameMap[countryCode];

                      if(koreaName){
                          event.target.set("tooltipText",koreaName);
                      }else{
                          event.target.set(
                              "tooltipText",
                              dataContext.name
                          );
                      }
                  }
                );
                const wishPointSeries = chart.series.push(
                  am5map.MapPointSeries.new(root,{
                      latitudeField: "latitude",
                      longitudeField: "longitude"
                  })
                );

                wishPointSeries.bullets.push(function (){
                   const container = am5.Container.new(root,{
                       cursorOverStyle:"pointer"
                    });
                    const circle = am5.Circle.new(root,{
                        radius:7,
                        fill:am5.color(0xf296f2),
                        stroke: am5.color(0xffffff),
                        strokeWidth: 2,
                        tooltipText: "❤️ {countryName} · {cityName}"
                    });
                    container.children.push(circle);
                    return am5.Bullet.new(root, {
                        sprite: container
                    });
                });
                $.ajax({
                    url:"/mypage/wishlist/point",
                    type:"GET",
                    dataType: "json",
                    success:function (response){
                        wishPointSeries.data.setAll(response.data);
                    },error:function (){
                        alert("위시리스트 위치 에러");
                    }
                })

                const postPointSeries = chart.series.push(
                    am5map.MapPointSeries.new(root,{
                        latitudeField: "latitude",
                        longitudeField: "longitude"
                    })
                );

                postPointSeries.bullets.push(function (){
                   const container = am5.Container.new(root,{
                       cursorOverStyle:"pointer"
                   });
                   const circle = am5.Circle.new(root,{
                      radius:7,
                       fill:am5.color(0x9454d8),
                       stroke: am5.color(0xffffff),
                       strokeWidth: 2,
                       tooltipText: "📍{countryName} · {cityName}"
                   });
                    container.children.push(circle);
                    return am5.Bullet.new(root, {
                        sprite: container
                    });
                });
                $.ajax({
                    url:"/mypage/post/point",
                    type:"GET",
                    dataType: "json",
                    success:function (response){
                        postPointSeries.data.setAll(response.data);
                    },error:function (){
                        alert("게시물 위치 에러");
                    }
                })

                chart.animate({
                    key: "rotationX",
                    from: 0,
                    to: 360,
                    duration: 60000,
                    loops: Infinity
                });

                chart.appear(1000, 100);
            });

        }
    </script>
</div>

</body>
</html>